In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import PCA
from sklearn.metrics import roc_curve
from sklearn.metrics import auc,roc_auc_score,precision_score,recall_score
from sklearn.metrics import classification_report

In [21]:
train=pd.read_csv("Downloads/dataexport_20201208T114355.csv")
test=pd.read_("Downloads/lagos/dataexport_20201208T115922.csv")
train.head()

AttributeError: module 'pandas' has no attribute 'read_'

In [18]:
test.head()

   id      lat    lon   place
0   1  51.5098 -0.118  London